[global.config]
as = 65000
router-id = "10.112.83.105"
[[peer-groups]]
  [peer-groups.config]
    peer-group-name = "scaling-group"
    peer-as = 65500
  [[peer-groups.afi-safis]]
    [peer-groups.afi-safis.config]
      afi-safi-name = "l3vpn-ipv4-unicast"
  [peer-groups.ebgp-multihop.config]
    enabled = true
    multihop-ttl = 50
  [peer-groups.as-path-options.config]
    allow-own-as = 1


[[dynamic-neighbors]]
  [dynamic-neighbors.config]
    prefix = "172.19.0.0/16"
    peer-group = "scaling-group"

