
router bgp 65000
   address-family vrf Video
     neighbor {{ data.data.vrfs | json_query('[?name==`Video`].wan.ip') | first }} remote-as 1724
   address-family vrf Phone
     neighbor {{ (data.data.vrfs | json_query('[?name==`Phone`]') | first ).wan.ip }} remote-as 1724
   exit-address-family
end


