! --------------------------------------------- 
! CE to PE peering
! Constructor
! ---------------------------------------------


{% set COMMUNITY = '77'  if device.role.name=='primary' else '88' %}

route-map SETCT{{ COMMUNITY }}
  set community 65000:{{ COMMUNITY }}
exit

