! --------------------------------------------- 
! CE to PE peering
! Constructor
! ---------------------------------------------


{% set COMMUNITY = '55'  if device.role.name=='secondary' else '77' %}

route-map SETCT{{ COMMUNITY }}
  set community 65000:{{ COMMUNITY }}
exit

