! --------------------------------------------- 
! CE to PE peering
! extra points on site.vars.wan[!q!name==role]
! ---------------------------------------------

! called with extra: {{ extra }}

router bgp {{ device.tenant.vars.as_bgp }}
  neighbor {{ extra.ip }} remote-as 25186
  neighbor {{ extra.ip }} description -- {{ extra.name}} peer to PE--
  neighbor {{ extra.ip }} timers 15 45
  
  address-family ipv4
  neighbor {{ extra.ip }} activate
  neighbor {{ extra.ip }} route-map SETCT{{  '55' if device.role.vars.description=='secondary' else '77' }} out
  exit-address-family

exit

